---
import Layout from "@/layouts/Layout.astro";
import { ResetPasswordForm } from "@/components/auth/ResetPasswordForm";

export const prerender = false;

// Extract token from URL hash (Supabase sends it as #access_token=...)
// Note: This will be handled client-side in the component
// For now, we'll pass a placeholder token
const token = "";
---

<Layout title="Reset Password - 10xCards">
  <main class="min-h-screen flex items-center justify-center p-4">
    <ResetPasswordForm client:load token={token} />
  </main>
</Layout>

<script>
  // Extract token from URL hash on client side
  // This script runs after the page loads to handle the token from the URL
  if (window.location.hash) {
    const hash = window.location.hash.substring(1);
    const params = new URLSearchParams(hash);
    const accessToken = params.get("access_token");
    
    if (accessToken) {
      // Store token temporarily for the form to use
      sessionStorage.setItem("reset_token", accessToken);
    }
  }
</script>


